<h2>Community Groups</h2>
<p><a href="#/CommunityGroups/0">Create New</a></p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Leader</th>
        <th>Last Meeting</th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat="g in vm.communityGroups">
        <td>{{ g.name }}</td>
        <td>{{ g.leader.email }}</td>
        <td>{{g.latest | date}}</td>
        <td>
            <button type="button" class="btn btn-default" ng-click="vm.addMeeeting(g)">
                <i class="glyphicon glyphicon-plus"></i> Meeting
            </button>
        </td>
        <td>
            <a href="#/CommunityGroups/{{g.id}}">Edit</a> |
            <a href="" ng-click="vm.remove(g)">Delete</a>
        </td>
    </tr>
</table>
