<h2>Edit</h2>
<form ng-submit="save()">
<div class="form-horizontal">
    <h4>Meeting</h4>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2">Met On</label>
        <div class="col-md-10">
            <p class="input-group">
                <input type="text" 
                       class="form-control"
                       uib-datepicker-popup="shortDate"
                       ng-model="e.date"
                       is-open="datePickerOpen"
                       />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="datePickerOpen=true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>`

    <div class="form-group">
        <label class="control-label col-md-2">Community Group</label>
        <div class="col-md-10">
            <select class="form-control" ng-model="e.communityGroupId" ng-options="o.id as o.name for o in communityGroups"></select>
        </div>
    </div>`

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" ng-click="save()" class="btn btn-default">Save</button>
        </div>
    </div>
</div>
</form>
<div>
    <a hre="/Meetings">Back to List</a>
</div>
