<h2>Index</h2>
<p>
    <a href="#/Leaders/0">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th ng-repeat="r in vm.roles">{{r}}</th>
        <th></th>
    </tr>
    <tr ng-repeat="l in vm.leaders">
        <td>
            {{l.email}}
        </td>
        <td ng-repeat="r in vm.roles">
            <input type="checkbox" ng-checked="vm.isLeaderinRole(l, r)"/>
        </td>
        <td>
            <a href="#/Leaders/{{l.id}}">Edit</a> |
            <a href="" ng-click="vm.remove(l)">Delete</a>
        </td>
    </tr>
</table>
