<div class="row">
    <div class="col-md-3">
        <select style="width: 150px"
                ng-options="o as o.name for o in available | filter: notAlreadySelected"
                ng-model="selected_available" multiple="multiple"></select>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn" ng-click="add()">Add</button><br>
        <button type="button" class="btn" ng-click="remove()">Remove</button>
    </div>
    <div class="col-md-3">
        <select style="width: 150px"
                ng-options="o as o.name for o in selected"
                ng-model="selected_selected" multiple="multiple"></select>
    </div>

</div>
